:root {

    --website-name-color: #afa8ba;
}

body {

    background-image: url('./images/job_cover.png');
    background-size: cover;
    background-repeat: repeat;
    height: 950px;
    width: 100%;
}


.website-name {
    margin-top: 30px;
    color: var(--website-name-color);
}

.nav-home-reg {
    width: 40%;
    /* border: 2px solid red; */
    margin-left: 490px;
}

.login-form {

    width: 36%;
    height: 450px;
    margin-top: 93px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(175, 188, 200);
    box-shadow: 5px 5px 5px black;
}

.signup-form {

    width: 36%;
    height: 300px;
    margin-top: 93px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(175, 188, 200);
    box-shadow: 5px 5px 5px black;
}

.candidate-form{

    width: 50%;
    height: 1105px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(175, 188, 200);
    box-shadow: 5px 5px 5px black;

}

.employer-form{
     width: 50%;
    height: 1455px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(175, 188, 200);
    box-shadow: 5px 5px 5px black;
}

.aside{

    background-color: #0046FF;

}


.signout{

  margin-top: 60px;  

}

.signedout-btn{

    margin-left: 160px;
}

.c-profile-image{

    width: 300%;

}


.writing{

    margin-left: 150px;
}

